<li class="separator acl-write"></li>
<li class="acl-write imagelink-icon">
  <a data-l10n-id="ep_previewimages.editbarButtons.imagelink" title="Imagelink">
    <span class="buttonicon buttonicon-picture"></span>
  </a>
</li>

<style>
  .imagelink-icon .buttonicon:before{
    top: 1px !important;
    position: relative;
  }
</style>
