<div class="popup acl-write imagelink-dialog popup toolbar-popup">
  <div class="popup-content">
    <div class="imagelink-container">
        <input type="text" class="imagelink-url" placeholder="http://..."/>
        <button type="button" class="btn btn-primary imagelink-save" data-l10n-id="ep_peviewimages.popup.ok">Ok</button>
    </div>
    <div>
      <span><p>Kopiere den Link eines Bildes von Wikimedia Commons und füge ihn hier ein.</p></span>
    </div>
  </div>
</div>

<style>
  .imagelink-dialog {
    max-width: 300px;
  }
  .imagelink-container {
    display: flex;
  }
  .imagelink-url {
    margin: 0 5px 0 0 !important;
  }

</style>
